<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.classless.min.css"
    />
    <link href="/css/style.css" rel="stylesheet" />
    <title>Create Post</title>
  </head>
  <body>
    <main>
      <div class="authOptions">
        <h1>Create Post</h1>
        <a role="button" href="/posts">Home</a>
      </div>

      <form action="/posts/create" method="POST">
        <label>Title</label>
        <input type="text" name="title" required />

        <label>Link</label>
        <input type="text" name="link" />

        <label>Description</label>
        <textarea name="description"></textarea>

        <label>Subgroup</label>
        <input type="text" name="sub" required />

        <button type="submit">Create Post</button>
      </form>
    </main>
  </body>
</html>
